<!DOCTYPE html>
<html lang="vi">
  <head>
    <meta charset="utf-8">
    <meta name="author" content="Hoàng Ân">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Lãi suất ngân hàng</title>

    <link rel="stylesheet" href="{{url_for('static', filename='css/bootstrap.min.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='css/bootstrap-theme.min.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">

    <script src="{{url_for('static', filename='js/common.js')}}"></script>
  </head>

  <body class="text-respond">
    <div id="wrapper"></div>
    <script src="{{url_for('static', filename='js/app.js')}}"></script>
  </body>
</html>